.dropdown {
    background: #1fa6d3;
}
.hamburger-menu.btn {
    background: #1fa6d3;
    border-color: #1fa6d3;
}

.hamburger-menu-bar1, .hamburger-menu-bar2, .hamburger-menu-bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .hamburger-menu-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .hamburger-menu-bar2 {
    opacity: 0;
}
  
.change .hamburger-menu-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
